[submodule "nlp-project-baseline-KnowledgeEditor/KnowledgeEditor"]
	path = nlp-project-baseline-KnowledgeEditor/KnowledgeEditor
	url = https://github.com/beluga-314/Efficient-Integration-of-Knowledge-into-Language-Models.git
